.main {
	background-color: #f1f1f1;
	padding-top: 20px;
	margin-bottom: 15px;
	h5 {
		font-size: 20px;
		line-height: 1.5;
		color: #000;
	}
}

.sectionsWrapper {
	max-width: 1320px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.section1 {
	align-self: baseline;
	padding: 24px 27px 0px 22px;
	flex-grow: 1;
	max-width: 315px;
	background-color: #fff;
	border: 1px solid #a04955;

	.filterWrapper {
		button {
			font-size: 20px;
			line-height: 1.8;
			letter-spacing: 0.2em;
			color: #000;
			background-color: #fff;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 20px;
		}
		button:hover {
			transform: none;
			transition: none;
			filter: none;
			box-shadow: none;
			> span {
				color: rgb(255, 100, 100);
			}
		}
		&:not(div:last-child) {
			border-bottom: 1px solid #a04955;
			margin-bottom: 20px;
		}
		.arrowClosed {
			transform: rotate(180deg);
			transition: transform 0.5s;
		}
		.arrowOpen {
			transform: rotate(0deg);
			transition: transform 0.5s;
		}

		.filterHidden {
			display: none;
			height: 0;
			opacity: 0;
		}
		.sizeActive,
		.colorActive,
		.inseamActive,
		.collectionsActive {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 15px;
			margin-bottom: 20px;
		}
		.sizeActive,
		.inseamActive,
		.collectionsActive {
			> li {
				text-align: center;
				padding: 2px 10px;
				background-color: #f1f1f1;
				font-weight: 300;
				font-size: 20px;
				line-height: 1.8;
				color: #000;
			}
			> li:hover {
				color: red;
				cursor: pointer;
			}
		}
		.colorActive {
			> li {
				width: 40px;
				height: 40px;
				cursor: pointer;

				&:first-child {
					background-color: #000;
				}
				&:nth-child(2) {
					background-color: #744524;
				}
				&:nth-child(3) {
					background-color: #113eb1;
				}
				&:nth-child(4) {
					background-color: #549554;
				}
				&:nth-child(5) {
					background-color: #808080;
				}
				&:nth-child(6) {
					background-color: #62ff42;
				}
				&:nth-child(7) {
					background-color: #fff;
					border: 1px solid #bcbccc;
				}
			}
			> li:hover {
				border: 5px solid rgb(239, 61, 1);
				border-radius: 5px;
			}
		}
		.bottomsActive,
		.fabricActive {
			margin-bottom: 20px;
			> li {
				cursor: pointer;
				font-weight: 300;
				font-size: 20px;
				line-height: 1.8;
				color: #000;
				margin-bottom: 5px;
			}
			> li:hover {
				color: red;
				width: fit-content;
			}
			input {
				width: 15px;
				height: 15px;
				margin-right: 16px;
			}
		}

		.collectionsActive {
			grid-template-columns: repeat(4, 1fr);
			> li {
				padding: 2px 5px;
			}
		}
		.itemFocus {
			border: 2px solid red;
		}
	}
}

.section2 {
	position: relative;
	.gridCards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;

		.card {
			background-color: #fff;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			padding: 24px 46px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			min-height: 514px;
			cursor: pointer;
			transition: background-color 0.3s ease;
			&:hover {
				filter: brightness(0.95);
				transition: background-color 0.3s ease;
			}
			h5 {
				text-align: center;
			}

			.cardPrice {
				font-weight: 200;
				font-size: 18px;
				line-height: 1.5;
				color: #333333;
				> span {
					font-weight: 500;
				}
			}
		}

		.addToCard {
			font-weight: 400;
			font-size: 18px;
			line-height: 1.5;
			max-width: fit-content;
			padding: 4px 8px 4px 33px;
			background-color: #a04955;
			color: #fff;
			background-image: url("../../../../../img/shopping_bag.svg");
			background-repeat: no-repeat;
			background-position: 5px 6px;
		}
	}
	.anker {
		position: absolute;
		right: 0;
		bottom: 10px;
		background: #a04955;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		width: 83px;
		height: 83px;
		transform: rotate(-180deg);
		&:hover {
			transform: rotate(0deg);
		}
	}
}

.pagination {
	margin: 0 auto;
	max-width: 1320px;
	> ul {
		display: flex;
		max-width: 135px;
		justify-content: space-between;
		margin-left: auto;
		li {
			border: 1px solid #a04955;
			font-size: 20px;
			line-height: 1.8;
			padding: 0 13px;
			color: #a04955;
			background-color: #fff;
			&:hover {
				border: 1px solid #000;
				color: #000;
			}
		}
		.currentPage {
			background-color: #a04955;
			color: #fff;
		}
	}
}
