@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap");

body {
	background-color: #e5e5e5;
	background-size: cover;
	font-family: "Work Sans", sans-serif;
}
.app-wrapper {
	margin: 0 auto;
	max-width: 1100px;
}

.header {
	background-color: #f2f8fd;
	margin-bottom: 10px;
	.header__grid {
		display: grid;
		grid-template-columns: 2fr 8fr 1fr 1fr;
		gap: 10px;
		align-items: center;
	}
	.img__logo {
		padding-left: 10px;
	}

	.flex-form {
		border-radius: 10px;
		height: 37px;
		display: flex;
		position: relative;
		width: 400px;
		box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
		& > * {
			padding: 0 0 0 10px;
			background: #fff;
			font-size: 1rem;
		}
		input[type="submit"] {
			border-radius: 0 1px 10px 0;
			background: #ef3f5a;
			border: 1px solid #ef3f5a;
			color: #fff;
			padding: 0 30px;
			cursor: pointer;
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			transition: all 0.2s;
		}
		input[type="submit"]:hover {
			background: #d73851;
			border: 1px solid #d73851;
		}
		input[type="search"] {
			flex-basis: 500px;
			border-radius: 10px 0 0 1px;
			&:focus::placeholder {
				color: #fff;
			}
		}
	}

	&__ava {
		text-align: center;
		> img {
			max-width: 100%;
			width: 40px;
			height: 40px;
			border-radius: 50px;
		}
	}
	&__login {
		> a {
			color: #18333e;
			font-weight: 500;
			text-decoration: underline rgb(207, 101, 101);
		}
	}
	&__logout {
		cursor: pointer;
	}
}

.main {
	display: grid;
	grid-template-areas: "navigation content";
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 10fr;
	gap: 10px;
	font-size: 1.4rem;
	&__nav {
		grid-area: navigation;
		background-color: #f2f8fd;
		> ul {
			padding: 10px 0;
			text-align: center;
			> li {
				padding: 5px 0;
			}
		}
		li {
			> a {
				color: #18333e;
				font-weight: 500;
				transition: all 0.4s;
				&.active {
					color: #f9d44a;
					transition: all 0.4s;
					font-size: 1.6rem;
				}
			}
		}
		.ul__nav-friends {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			padding-top: 15px;
			> li {
				text-align: -webkit-center;
				.nav-friends-img {
					width: 35px;
					height: 35px;
					margin-bottom: 5px;
				}
				img {
					max-width: 100%;
					height: 100%;
					border-radius: 50px;
				}
			}
			.nav-friends-name {
				font-size: 0.9rem;
			}
		}
		.navigation__settings {
			padding-top: 20px;
			margin-bottom: 35px;
		}
		.navigation__friends {
			font-size: 1.8rem;
		}
	}
	&__content {
		grid-area: content;
		background-color: rgb(203, 196, 196);
		position: relative;
	}
	.section__profile {
		textarea,
		input {
			font-size: 1rem;
		}
		.profile__banner {
			img {
				width: 100%;
				height: 200px;
			}
		}
		.profile__content {
			padding-top: 5px;
			padding-left: 10px;
			position: relative;
			.img__profile {
				border-radius: 50%;
				max-width: 200px;
			}
			.profile__info {
				display: flex;
				gap: 15px;
				margin-bottom: 40px;
				.profile__avatar {
					text-align: center;
					position: relative;
					cursor: pointer;
					height: fit-content;
					&:hover {
						.label__file-avatar {
							opacity: 1;
							transition: all 0.45s;
						}
					}

					.upload__avatar {
						position: absolute;
						left: 50%;
						top: 80%;
						transform: translate(-50%, -20%);
						font-weight: 600;
						font-size: 1.4rem;
						color: gold;
						cursor: pointer;
					}
					.label__file-avatar {
						text-shadow: 3px 1px 3px black;
						transition: 0.3s;
						opacity: 0;
						cursor: pointer;
					}
					.input__file-avatar {
						visibility: hidden;
						width: 0;
					}
				}
				b {
					font-weight: 400;
				}
				.form__edit-profile {
					font-family: math;
				}
				.profile__name {
					padding-top: 15px;
					margin-bottom: 15px;
				}
				.profile__name-title {
					padding-right: 10px;
				}
				.profile__status {
					cursor: pointer;
				}
			}
			.save__profile,
			.turn__back,
			.edit__profile {
				margin-top: 15px;
				background: #0dbb75;
				border: 1px solid #5d212a;
				color: #fff;
				padding: 3px 15px;
				cursor: pointer;
				transition: all 0.2s;
				border-radius: 2px;
				&:hover {
					filter: brightness(1.2);
					transition: all 0.4s;
				}
			}
			.save__profile {
				margin-right: 20px;
			}
			.profile__field {
				padding: 5px;
				margin: 8px 0;
				box-sizing: border-box;
			}
			.profile__title {
				font-weight: 500;
			}
			.flex__input {
				display: flex;
				align-items: center;
				justify-content: right;
				gap: 20px;
			}
			.textarea__profile {
				width: 59%;
				padding: 5px;
				margin: 8px 0;
				resize: none;
				padding-bottom: 20px;
			}
			.skills__description {
				text-align: end;
			}
			.checkbox__job-looking {
				width: 20px;
				height: 15px;
				margin: 8px;
			}
			.profile__name-edit {
				padding-top: 15px;
				margin: 8px;
			}
			.profile__edit {
				margin: 8px;
			}
			.control__buttons-profile {
				text-align: center;
			}
			.error__span {
				color: rgb(240, 73, 73);
				text-shadow: 1px 1px 1px rgb(39, 38, 38);
				display: block;
				text-align: end;
			}
		}

		.my__posts {
			.create__post {
				padding: 5px;
				background-color: #908282;
				max-width: 400px;
				margin-bottom: 20px;
				> h3 {
					padding-top: 10px;
					margin-bottom: 10px;
				}
				.post__area {
					padding: 7px 10px;
					width: 100%;
					height: 80px;
					border-radius: 10px;
					resize: none;
				}
				.post__buttons {
					display: grid;
					grid-template-columns: 5fr 7fr;
					gap: 10px;
					padding-bottom: 10px;
					.posts_secondary__buttons {
						display: flex;
						justify-content: space-around;
						align-items: center;
						> .secondarry__button {
							width: 20px;
							height: 20px;
							border-radius: 50px;
							background-color: red;
						}
					}
					.btn__add-post-wrapper {
						text-align: end;
						.btn__add-post {
							padding: 8px 30px;
							border-radius: 25px;
							font-weight: 500;
							font-size: 1rem;
							background-color: #7986cb;
						}
					}
				}
			}
			.post {
				display: flex;
				gap: 10px;
				> img {
					max-width: 5%;
					height: 40px;
					border-radius: 50px;
				}
			}
		}
	}
	.section__messages {
		display: grid;
		grid-template-columns: 3fr 9fr;
		height: 100%;
		.dialogs {
			padding: 10px 0;
			border-right: 4px solid gray;
		}
		.messages {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-top: 10px;
			.message {
				word-break: break-all;
			}
			.send__msg-form {
				display: flex;
				flex-direction: column;
				.send__msg-wrapper {
					display: flex;
					background-color: #6d4c41;
				}
				.text__area-msg {
					flex-grow: 1;
					height: 35px;
					padding: 10px 5px 2px 10px;
					border-radius: 25px 0 0 0;
					resize: none;
				}
				.btn__send-msg {
					width: 40px;
					height: 100%;
					transition: opacity 0.4s;
					border-radius: 0 0 25px 0;
					background-color: #fff;
					&::before {
						content: "";
						border: 10px solid transparent;
						border-left: 16px solid #1a5aff;
						margin-left: 13px;
						display: block;
						width: 0;
						height: 0;
					}
					&:hover {
						opacity: 0.8;
						transition: opacity 0.25s;
					}
				}
				.btn__send-msg-disabled {
					opacity: 0.7;
				}
			}
		}
		.dialog__user {
			display: flex;
			gap: 20px;
			border-bottom: 1px solid gray;
			padding: 0 5px;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		.img__dialog {
			max-width: 25%;
			border-radius: 60px;
		}
		.dialog {
			color: #232;
			font-size: 0.8rem;
		}
	}
	.section__users {
		padding: 20px 30px 0;
		.users__header {
			display: grid;
			grid-template-columns: 2.9fr 8.1fr;
			margin-top: 4px;
		}
		.users__title {
			text-align: center;
		}

		.user__list {
			margin-bottom: 20px;
			.friends__page-user {
				&:not(:last-child) {
					margin-bottom: 15px;
				}
				.user__body {
					display: flex;
					justify-content: space-evenly;
					.user__follow-img {
						text-align: -webkit-center;
						.user__img {
							padding-top: 10px;
							max-width: 100px;
							img {
								border-radius: 50px;
								max-width: 100%;
								margin-bottom: 10px;
							}
						}
					}
					.user__info {
						padding: 13px 20px;
						flex-grow: 1;
						max-width: 580px;
						border-radius: 25px;
						border: 3px solid gray;
						display: flex;
						justify-content: space-between;
						.user__name-status {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							word-break: break-word;
						}
						.user__status {
							word-break: break-word;
						}
						.user__location {
							text-align: end;
							.user__country {
								margin-bottom: 10px;
							}
						}
					}
				}
				.user__follow {
					padding: 5px 15px;
					border-radius: 20px;
					letter-spacing: 2px;
					font-weight: 500;
					font-size: 1.4rem;
				}
			}
		}
		.page__numbers {
			text-align: center;
			margin-bottom: 20px;
			.page__number {
				font-weight: 500;
				padding: 0 3px;
				cursor: pointer;
				border: 2px solid lavenderblush;
				&:not(:last-of-type) {
					border-right: 0;
				}
			}
			.current__page-number {
				font-weight: 600;
				color: darkcyan;
			}
		}
	}
	.section__login {
		background-color: wheat;
		padding-left: 15px;
		height: 100%;
		.form__sign-in {
			width: 40%;
		}
		h2 {
			padding-top: 25px;
			padding-left: 5px;
			margin-bottom: 10px;
			font-weight: 500;
		}
		.input__email {
			margin-bottom: 15px;
		}
		.input__field {
			border-radius: 5px;
			width: 100%;
			height: 35px;
			padding: 0 10px;
			border: 1px solid gray;
			margin-top: 5px;
		}
		.input__checkbox {
			width: 100%;
			max-width: 25px;
			height: 25px;
			margin: 8px 0 15px 7px;
		}
		.wrapper__sign-up {
			text-align: center;
			.btn__sign-up {
				width: 60%;
				padding: 9px 0;
				letter-spacing: 2px;
				background-color: #ee5684;
				box-shadow: 1px 1px 3px;
				border-radius: 5px;
				margin-bottom: 35px;
			}
		}
		.captcha__wrapper {
			text-align: center;
		}
		.input__captcha {
			border-radius: 5px;
			width: 100%;
			height: 35px;
			padding: 0 10px;
			border: 1px solid gray;
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
	.users__preloader {
		text-align: center;
		position: absolute;
		width: 100%;
		left: 0;
		background: rgb(203, 196, 196);
		height: 100%;
	}
	.label {
		font-size: 1rem;
		margin-bottom: 5px;
		padding-left: 5px;
	}
	.label__email,
	.label__password {
		display: block;
	}
	.label__checkbox {
		vertical-align: text-top;
	}
	.input__error {
		color: #ff3122;
		font-weight: 500;
		font-size: 1rem;
		background-color: #fffac5;
		display: inline-block;
		padding-left: 5px;
	}
	.field__error {
		border: 1px solid red;
	}
	.message__error {
		border-radius: 10px 10px 0 0;
		font-size: 0.85rem;
		border: 1px solid #97958a;
		padding: 4px 10px;
	}
	.post__error {
		border-radius: 0 0 10px 10px;
		font-size: 0.85rem;
		border: 1px solid #97958a;
		padding: 4px 10px;
	}
	.signIn__required {
		background-color: pink;
		padding: 0;
		margin-left: 5px;
	}
	.signin__status__from {
		color: #ff3122;
		margin-bottom: 10px;
		text-align: center;
	}
}
.preloader__app {
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
}
