@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap");

body {
	background-color: #e5e5e5;
	background-size: cover;
	font-family: "Work Sans", sans-serif;
}
.app-wrapper {
	margin: 0 auto;
	max-width: 1100px;
}

.header {
	background-color: #f2f8fd;
	margin-bottom: 10px;
	.header__grid {
		display: grid;
		grid-template-columns: 2fr 8fr 1fr 1fr;
		gap: 10px;
		align-items: center;
	}
	.img__logo {
		padding-left: 10px;
	}

	.flex-form {
		border-radius: 10px;
		display: -webkit-box;
		height: 37px;
		display: flex;
		position: relative;
		width: 400px;
		box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
		& > * {
			padding: 0 0 0 10px;
			background: #fff;
			font-size: 1rem;
			-webkit-appearance: none;
		}
		input[type="submit"] {
			border-radius: 0 1px 10px 0;
			background: #ef3f5a;
			border: 1px solid #ef3f5a;
			color: #fff;
			padding: 0 30px;
			cursor: pointer;
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			transition: all 0.2s;
		}
		input[type="submit"]:hover {
			background: #d73851;
			border: 1px solid #d73851;
		}
		input[type="search"] {
			flex-basis: 500px;
			border-radius: 10px 0 0 1px;
			&:focus::placeholder {
				color: #fff;
			}
		}
	}

	&__ava {
		text-align: center;
		> img {
			max-width: 100%;
			width: 40px;
			height: 40px;
			border-radius: 50px;
		}
	}
	&__login {
		> a {
			color: #18333e;
			font-weight: 500;
			text-decoration: underline rgb(207, 101, 101);
		}
	}
}

.main {
	display: grid;
	grid-template-areas: "navigation content";
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 10fr;
	gap: 10px;
	font-size: 1.4rem;
	&__nav {
		grid-area: navigation;
		background-color: #f2f8fd;
		> ul {
			padding: 10px 0;
			text-align: center;
			> li {
				padding: 5px 0;
			}
		}
		li {
			> a {
				color: #18333e;
				font-weight: 500;
				transition: all 0.4s;
				&.active {
					color: #f9d44a;
					transition: all 0.4s;
					font-size: 1.6rem;
				}
			}
		}
		.ul__nav-friends {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			padding-top: 15px;
			> li {
				text-align: -webkit-center;
				.nav-friends-img {
					width: 35px;
					height: 35px;
					margin-bottom: 5px;
				}
				img {
					max-width: 100%;
					height: 100%;
					border-radius: 50px;
				}
			}
			.nav-friends-name {
				font-size: 0.9rem;
			}
		}
		.navigation__settings {
			padding-top: 20px;
			margin-bottom: 35px;
		}
		.navigation__friends {
			font-size: 1.8rem;
		}
	}
	&__content {
		grid-area: content;
		background-color: rgb(203, 196, 196);
		position: relative;
	}
	.section__profile {
		.profile__banner {
			img {
				width: 100%;
				height: 200px;
			}
		}
		.profile__content {
			padding-top: 5px;
			padding-left: 10px;
			position: relative;
			.img__profile {
				border-radius: 50%;
				max-width: 200px;
			}
			.profile__info {
				display: flex;
				gap: 15px;
				margin-bottom: 40px;
				.profile__name {
					padding-top: 15px;
					margin-bottom: 15px;
				}
			}
		}
		.my__posts {
			.create__post {
				padding: 5px;
				background-color: #908282;
				max-width: 400px;
				margin-bottom: 20px;
				> h3 {
					padding-top: 10px;
					margin-bottom: 10px;
				}
				.post__area {
					padding: 7px 10px;
					width: 100%;
					height: 80px;
					border-radius: 10px;
					resize: none;
				}
				.post__buttons {
					display: grid;
					grid-template-columns: 5fr 7fr;
					gap: 10px;
					padding-bottom: 10px;
					.posts_secondary__buttons {
						display: flex;
						justify-content: space-around;
						align-items: center;
						> .secondarry__button {
							width: 20px;
							height: 20px;
							border-radius: 50px;
							background-color: red;
						}
					}
					.btn__add-post-wrapper {
						text-align: end;
						.btn__add-post {
							padding: 8px 30px;
							border-radius: 25px;
							font-weight: 500;
							font-size: 1rem;
							background-color: #7986cb;
						}
					}
				}
			}
			.post {
				display: flex;
				gap: 10px;
				> img {
					max-width: 5%;
					height: 40px;
					border-radius: 50px;
				}
			}
		}
	}
	.section__messages {
		display: grid;
		grid-template-columns: 3fr 9fr;
		height: 100%;
		.dialogs {
			padding: 10px 0;
			border-right: 4px solid gray;
		}
		.messages {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-top: 10px;
			.send__msg-wrapper {
				display: flex;
				background-color: #6d4c41;
				> .text__area-msg {
					flex-grow: 1;
					height: 35px;
					padding: 10px 5px 2px 10px;
					border-radius: 25px 0 0 0;
					resize: none;
				}
				> .btn__send-msg {
					width: 40px;
					height: 100%;
					transition: opacity 0.4s;
					border-radius: 0 0 25px 0;
					background-color: #fff;
					&::before {
						content: "";
						border: 10px solid transparent;
						border-left: 16px solid #1a5aff;
						margin-left: 13px;
						display: block;
						width: 0;
						height: 0;
					}
					&:hover {
						opacity: 0.8;
						transition: opacity 0.25s;
					}
				}
			}
		}
		.dialog__user {
			display: flex;
			gap: 20px;
			border-bottom: 1px solid gray;
			padding: 0 5px;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		.img__dialog {
			max-width: 25%;
			border-radius: 60px;
		}
		.dialog {
			color: #000;
			font-size: 0.8rem;
		}
	}
	.section__users {
		padding: 20px 0 0 30px;
		.users__title {
			margin-left: 20px;
		}

		.user__list {
			.friends__page-user {
				&:not(:last-child) {
					margin-bottom: 15px;
				}
				.user__body {
					display: flex;
					.user__follow-img {
						text-align: -webkit-center;
						.user__img {
							padding-top: 10px;
							max-width: 100px;
							margin-bottom: 10px;
							img {
								border-radius: 50px;
								max-width: 100%;
							}
						}
					}
					.user__info {
						padding: 13px 20px;
						margin: 0 auto;
						flex-grow: 1;
						max-width: 580px;
						border-radius: 25px;
						border: 3px solid gray;
						display: flex;
						justify-content: space-between;
						.user__name-status {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
						}
						.user__location {
							text-align: end;
							.user__country {
								margin-bottom: 10px;
							}
						}
					}
				}
				.user__follow {
					padding: 5px 15px;
					border-radius: 20px;
					letter-spacing: 2px;
					font-weight: 500;
					font-size: 1.4rem;
				}
			}
		}
		.page__numbers {
			text-align: center;
			margin-bottom: 15px;
			.current__page-number {
				font-weight: 600;
			}
			.page__number {
				padding: 0 3px;
				cursor: pointer;
			}
		}
	}
	.users__preloader {
		text-align: center;
		position: absolute;
		width: 100%;
		left: 0;
		background: rgb(203, 196, 196);
		height: 100%;
	}
}
