* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btns {
  display: flex;
}

h1 {
  font-weight: 700;
  font-size: 1.8rem;
  text-shadow: 1px 2px 4px black;
}

.border__line {
  border-top: 2px solid teal;
  margin: 10px 0;
}

.post-enter {
  transform: translateX(-350px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  max-width: fit-content;
  margin: 20px auto;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: lightgray;
}

.navbar__links {
  display: flex;
  gap: 10px;
  font-weight: 700;
  font-size: 1.1rem;
}
.navbar__links a {
  color: teal;
}

.page__post {
  max-width: 90%;
  margin: 20px 0 auto;
  padding: 0 25px 25px;
  border: 2px solid teal;
}
.page__post .page__post-title {
  text-align: center;
  margin: 20px 0;
  color: teal;
  text-shadow: 1px 1px 2px teal;
}
.page__post .page__post-text {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.page__post .page__post-comments {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}
.page__post .com__email {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 20px;
}

.page__post-error {
  margin-top: 40vh;
  font-size: 3rem;
}